<!-- BOARD -->
  <section id="homeboard" class="board">
    <span data-inject="vector" data-file="confettis" class="confettis"></span>
    <!-- WRAPPER -->
    <div class="wrapper">
      <!-- SIDE -->
      <div class="side">
        <a href="#mainboard" class="cmd--flip button button--negative button--menu" id="btn--show">
          <span data-inject="vector" data-file="icon--menu" class="icon"></span>
          <span class="ghost">Menu</span>
        </a>
        <figure class="image--home">
          <img src="{{ page.image | relative_url }}" width="677" height="622" alt="Exposition Histoire d'harmonies" />
        </figure>
      </div>
      <!-- /SIDE -->
      <!-- SIDE -->
      <div class="head side">
        <h2 class="head__title"><a href="{{ site.url }}">
          <span class="ghost">{{ site.title }}</span>
          <span data-inject="vector" data-file="logotype" class="icon head__logo"></span>
          <span data-inject="vector" data-file="ornament" class="icon head__ornament"></span>
        </a></h2>
        <p class="head__subtitle">patrimoine de la ville de commentry</p>
        <p class="head__infos">Espace culturel de la pléiade<br>26 novembre 2016 au 26 août 2017</p>
      </div>
      <!-- /SIDE -->
    </div>
      <!-- /WRAPPER -->
    </section>
    <!-- /BOARD -->
