<!-- CONTENT--GALERIE -->
<article class="content side side--full" id="content--gallery">
  <h3>Galerie d'images</h3>
  {% if page.galerie-images %}
  <ul class="gallery">
    {% for picture in page.galerie-images %}
    <li class="gallery__item">
      <a class="gallery__figure popover"  data-type="image" href="{{ picture.image | relative_url }}">
        <img src="{{ picture.image | relative_url }}" alt="image concernant {{ picture.legende }}" class="gallery__image" />
        <span data-inject="vector" data-file="icon--extended" class="icon"></span>
      </a>
      <h3 class="gallery__title"><strong>{{ picture.legende }}</strong></h3>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</article>
<!-- /CONTENT--GALERIE -->
