#baseline {
    position: relative;
    display: block;
    width: 100%;
    min-width: 100%;
    height: 180px;
    background: $noir;
    color: $hover;
}

#baseline:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: -30px;
    height: 75px;
    transform: skew(0, -2deg);
    background: $noir;
}

.baseline__container {
    display: inline-block;
    text-align: center;
    width: 100%;
    position: relative;
    z-index: 10;
    padding: 0 1.5em;
    min-width: 100%;
    align-self: flex-start;
}

.baseline__container+.baseline__container {
    margin-top: 1.5rem;
}

.baseline__title {
    margin: 0;
    line-height: 0;
}

.baseline__block {
    text-align: center;
}

.baseline__subtitle {
    margin: 0;
    color: #F2D890;
    font-size: 0.8125em;
    font-weight: 400;
    line-height: 1.2;
}
