.board {
    position: relative;
    display: flex;
    backface-visibility: hidden;
    max-width: 90em;
    width: 94vw;
    max-height: inherit;
    box-shadow: -5px 5px 5px rgba(0, 0, 0, .3);
    background: white;
    color: $noir;
}

@media screen and (orientation: portrait) {
  .board {
    flex-wrap: wrap;
  }
}

#mainboard {
    transition: .7s;
    max-width: 90em;
    width: 100%;
    margin: 5vh 3vw;
    background: transparent;
}

.state--flip #homeboard,
.state--flip #frontboard,
.state--flip #quizboard,
.state--reverse #frontboard {
    display: none;
  }

.state--reverse #backboard,
.state--flip #menuboard {
      display: inline-flex;
    }

#backboard,
#menuboard {
  display: none;
}

@media screen and (min-width: 90em) {
  #frontboard {
    max-height: 42.25em;
  }
}

#homeboard,
#menuboard {
  padding-top: 4em;
  padding-bottom: 1.5em;
}

#menuboard {
    background: $noir;
    color: white;
}
