.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 3.125rem;
    height: 3.125rem;
    padding: 15px 12px;
    text-align: center;
    border: 1px solid $hover;
    background-color: white;
    border-radius: 999em;
    vertical-align: middle;
    outline: none;
}

a.button {
    cursor: pointer;
}

.button * {
    transition: all 400ms ease-in-out;
    vertical-align: middle;
}

.button .icon {
  text-align: center;
  min-height: 2rem;
  max-height: 3vw;
}

.button .icon svg {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.button .icon svg * {
    fill: $hover;
}

a.button:hover {
    border-color: $hover;
    background-color: $hover;
    color: $noir;
}

.button:hover .icon svg * {
    fill: $noir;
}

.button--negative {
    border-color: $noir;
    background-color: $noir;
}

.button--negative .icon svg * {
    fill: $hover;
}

.button--close,
.button--menu {
    position: absolute;
    top: 20px;
    left: 8vw;
    z-index: 50;
}

@media screen and (min-width: 768px) {
    .button--close,
    .button--menu {
        left: 30px;
    }
}

.button--menu {
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.button--close {
    border-color: $noir;
}

.button--close .icon svg * {
    fill: $noir;
}

.button--quiz {
  transition: all 400ms;
  background: $noir;
  border: none;
  color: white;
  padding: 1rem 1.2rem;
  font-size: 1em;
  font-weight: 400;
  text-transform: capitalize;
  cursor: pointer;
  outline: none;
  display: block;
  margin: 2em 0 1em;
}

.button--quiz:hover {
  background: $hover;
  color: $noir;
}
