.gallery__figure .icon,
.content__cmd .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2rem;
    height: 2rem;
    margin-top: -2rem;
    margin-left: -1rem;
}

.gallery__figure .icon {
  margin-top: -1rem;
}

.gallery__figure .icon svg,
.content__cmd svg {
    width: 100%;
    height: 100%;
}

.gallery__figure .icon svg *,
.content__cmd svg * {
    transition: fill 700ms;
    fill: $noir;
}

.gallery__figure:hover img,
.content__cmd:hover img {
    opacity: .1;
}

.gallery__figure:hover .icon svg *,
.content__cmd:hover svg * {
    fill: $hover;
}

.gallery__list {
    display: flex;
    padding: 0;
}

.gallery__item {
  list-style: none;
  display: inline-flex;
}

.gallery__figure {
  transition: all 700ms;
    position: relative;
    display: inline-block;
    width: 14.5vw;
    height: 14.5vw;
    margin: 1vw;
    border-radius: 999em;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.gallery__figure:hover {
  background-color: $noir;
}

.gallery__figure img {
  width: auto;
  height: 104%;
  display: block;
  margin: -2% -13%;
}
