.head {
    z-index: 5;
    text-align: center;
    display: inline-block;
}

.head a {
    text-decoration: none;
    display: block;
}

.head__title {
    width: 100%;
    margin-bottom: 8.6vh;
}

.head__logo svg {
    height: 100%;
    width: 100%;
}

.head__ornament {
    margin-top: 0.4vh;
}

.head__ornament svg {
    width: 10rem;
    height: auto;
}

.head__ornament svg *,
.head__logo svg * {
    fill: $noir;
}

.head__ornament--negative svg *,
.head__logo--negative svg * {
    fill: white;
}

.head__infos,
.head__subtitle {
    width: 100%;
    margin: 0;
    line-height: 1.4;
    text-transform: capitalize;
}

.head__subtitle--negative {
    color: white;
}

.head__infos {
    text-transform: uppercase;
    color: $hover;
}

.headline__title {
    margin: 1em 0 0;
}

.headline__dates {
    color: $clair;
    margin: 0.5em 0 0;
}

.headline__image {
    width: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}
