.head {
    text-align: center;
    display: inline-block;
}

.head a {
    text-decoration: none;
    display: block;
}

.head__title {
    width: 100%;
    margin-bottom: 8.6vh;
}

.head__logo svg {
    height: 100%;
    width: 100%;
}

.head__deco {
    margin-top: 0.4vh;
}

.head__deco svg {
    width: 11rem;
    height: auto;
}

.head__deco svg *,
.head__logo svg * {
    fill: $noir;
}

.head__deco--negative svg *,
.head__logo--negative svg * {
    fill: white;
}

.head__infos,
.head__subtitle {
    width: 100%;
    margin: 0;
    line-height: 1.4;
    text-transform: capitalize;
}

.head__subtitle--negative {
    color: white;
}

.head__infos {
    text-transform: uppercase;
    color: $hover;
}

.logotype {
    display: inline-block;
    width: 50vw;
}

.logotype--negative {
    position: absolute;
    display: block;
    top: 1rem;
    right: 3rem;
    width: 7rem;
}

.logotype svg,
.logotype--negative svg {
    width: 100%;
}

.logotype svg * {
    fill: $hover;
}

.logotype--negative svg * {
    fill: $noir;
}
