#main {
    position: relative;
    padding: 5vh 3vw;
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    perspective: 1200px;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
}

.image--home {
  display: inline-block;
  z-index: 1;
  text-align: center;
}

.confettis {
  position: absolute;
  width: 94vw;
  max-height: 85vh;
  overflow: hidden;
  right: 0;
  top: 0;
  z-index: 2;
  text-align: right;
}

.confettis svg {
  max-width: 100%;
  height: auto;
}
