@media screen and (orientation: portrait) {
    .content,
    .headline {
        padding-bottom: 3em;
    }

    .side {
        min-width: calc(94vw - 6em);
    }

    #leftside {
        min-width: 94vw;
        height: calc(94vw * .5);
    }
}
@media screen and (orientation: landscape) {
    .side {
        flex: 1 0;
        flex-wrap: wrap;
        width: calc(94vw / 2);
        max-width: calc(94vw / 2);
    }

    .side--full {
      overflow: hidden;
      min-width: calc(94vw - 3em);
      max-width: calc(94vw - 3em);
      flex-wrap: nowrap;
    }

    #leftside {
        min-width: calc(94vw / 2);
    }

    #leftside,
    #rightside {
        min-height: calc(90vh - 80px);
    }

    .head {
        padding: 0 0 0 3em;
    }

    .headline__excerpt {
        overflow-y: hidden;
        max-height: 29vh;
    }
}
@media screen and (min-width: 576px) {
    .logotype:not(.logotype--baseline) {
        width: 18vw;
    }

    #baseline {
        height: 80px;
    }

    #rightside,
    #backboard {
        padding: 2.5em 3em 1.5em;
    }

    #baseline {
        display: inline-flex;
        flex: 1 0 100%;
        align-items: baseline;
    }

    .baseline__container {
        min-width: auto;
        width: 65%;
        padding: 0 2em;
        text-align: left;
    }

    .baseline__container+.baseline__container {
        width: 35%;
        text-align: right;
        margin-top: -1rem;
    }

    .baseline__subtitle {
        margin-top: 0.4em;
    }

    h1 {
        font-size: 3em;
    }

    .content h1 {
        margin-top: 1.5em;
    }

    .content__video {
        width: calc(50% - 8px);
    }

    .content__video:nth-of-type(2n) {
        margin-left: 11px;
    }

    .gallery__figure {
      width: 36vw;
      height: 36vw;
    }
}
@media screen and (min-width: 768px) {
    .button--close,
    .button--menu {
        left: 3vw;
    }

    .content__video {
        width: calc(33.334% - 8px);
    }

    .content__video:nth-of-type(2n) {
        margin-left: 0;
    }

    .content__video:nth-of-type(3n+2) {
        margin-left: 11px;
    }

    .gallery__figure {
      width: 14.5vw;
      height: 14.5vw;
    }
}
@media screen and (min-width: 980px) {
    .baseline__container {
        width: 75%;
    }

    .baseline__container+.baseline__container {
        width: 25%;
    }
}
