:root {
    --noir: #222533;
    --clair: #B0B1B6;
    --hover: #BBA569;
}

html {
  font-size: 16px;
}

body {
    padding: 0;
    margin: 0;
    font: normal normal 1em/1.7 "Raleway", Arial, sans-serif;
    background-color: rgba(0, 0, 0, .07);
    color: var(--noir);
    background: red
}

* {
    box-sizing: border-box;
}

h1 {
  font-size: 2.4em;
  line-height: 1;
}

p {
  margin: 1em 0 2em;
}

figure {
  margin: 0;
  font-size: 0;
}

figure img {
  width: 100%;
  height: 100%;
}
