{% include header.html %}

<!-- MAIN -->
<main id="main">

  <!-- MAINBOARD -->
    <div id="mainboard">

      <!-- BOARD -->
        <section id="frontboard" class="board">

          <!-- WRAPPER -->
          <div class="wrapper">

            <!-- LEFTSIDE -->
            <div id="leftside" class="side">
              <a href="#mainboard" class="cmd--flip button button--negative button--menu" id="btn--show">
                <span data-inject="vector" data-file="icon--menu" class="icon"></span>
                <span class="ghost">Menu</span>
              </a>
              {% if page.headline-image %}
              <figure class="headline__image" style="background-image:url('{{page.headline-image}}')"></figure>
              {% endif %}
            </div>
            <!-- /LEFTSIDE -->

            <!-- RIGHTSIDE -->
              <div id="rightside" class="side">
                <!-- INLINE NAV -->
                <nav class="nav">
                  <ul class="nav__list">
                    <li class="nav__item">
                      <a href="#mainboard" data-target="#content--text" class="ghost cmd--reverse button nav__link" id="btn--open">
                        <span data-inject="vector" data-file="icon--text" class="icon"></span>
                        <span class="ghost">Texte</span>
                      </a>
                    </li>
                    <li class="nav__item">
                      <a href="#mainboard" data-target="#content--gallery" class="ghost cmd--reverse button nav__link" id="btn--open">
                        <span data-inject="vector" data-file="icon--gallery" class="icon"></span>
                        <span class="ghost">Galerie</span>
                      </a>
                    </li>
                    <li class="nav__item">
                      <a href="#mainboard" data-target="#content--video" class="ghost cmd--reverse button nav__link" id="btn--open">
                        <span data-inject="vector" data-file="icon--tv" class="icon"></span>
                        <span class="ghost">Videos</span>
                      </a>
                    </li>
                    <li class="nav__item">
                      <a href="#mainboard" data-target="#content--audio" class="ghost cmd--reverse button nav__link" id="btn--open">
                        <span data-inject="vector" data-file="icon--audio" class="icon"></span>
                        <span class="ghost">Audio</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- /INLINE NAV -->

                <!-- ARTICLE -->
                <article class="headline">
                  <header class="headline__header">
                    <h1 class="headline__title">{{page.title}}</h1>
                    {% if page.dates %}
                    <p class="headline__dates">{ {{page.dates}} }</p>
                    {% endif %}
                  </header>
                  <div class="headline__excerpt">
                    <p>{{ page.content | strip_html | truncatewords: 90 }}</p>
                  </div>
                </article>
                <!-- /ARTICLE -->

              </div>
              <!-- /RIGHTSIDE -->

              <!-- BASELINE -->
              <section class="side" id="baseline">
                  <!-- BASELINE__CONTAINER -->
                  <div class="baseline__container">

                    <!-- PAGINATION -->
                    <nav class="pagination">
                      <ul class="pagination__list">
                        <li class="pagination__label">page</li>
                        <li class="pagination__number"><span class="button button--pagination">2</span></li>
                        <li class="pagination__item">
                          <a href="#" class="button button--pagination" title="page précédente">
                            <span class="ghost">page précédente</span>
                            <span data-inject="vector" data-file="icon--top" class="icon"></span>
                          </a>
                        </li>
                        <li class="pagination__item">
                          <a href="#" class="button button--pagination" title="page suivante">
                            <span class="ghost">page suivante</span>
                            <span data-inject="vector" data-file="icon--bottom" class="icon"></span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <!-- /PAGINATION -->

                  </div>
                  <!-- /BASELINE__CONTAINER -->

                  <!-- BASELINE__CONTAINER -->
                  <div class="baseline__container">
                    <!-- BASELINE__BLOCK -->
                    <div class="baseline__block">
                      <!-- baseline__title -->
                      <h3 class="baseline__title">
                        <span class="ghost">Histoires d'harmonies</span>
                        <span data-inject="vector" data-file="logotype" class="logotype"></span>
                      </h3>
                      <!-- /BASELINE__TITLE -->
                      <h4 class="baseline__subtitle">Ville de Commentry</h4>
                    </div>
                    <!-- /BASELINE__BLOCK -->
                  </div>
                  <!-- /BASELINE__CONTAINER -->
              </section>
              <!-- /BASELINE -->
            </div>
            <!-- /WRAPPER -->
          </section>
          <!-- /BOARD -->

          <!-- BOARD -->
          <section id="backboard" class="board">
            <a href="#mainboard" class="cmd--reverse button button--close" id="btn--close" title="Masquer la fenêtre">
              <span class="ghost">Masquer</span>
              <span data-inject="vector" data-file="icon--close" class="icon"></span>
            </a>

            <span data-inject="vector" data-file="logotype" class="logotype--negative"></span>

            <!-- CONTENT--TEXT -->
            <article class="content" id="content--text">
              <h1>{{page.title}}</h1>
              {{content}}
              </article>
              <!-- /CONTENT--TEXT -->

              {% if page.gallery-images %}
              <!-- CONTENT--GALLERY -->
              <article class="content" id="content--gallery">
                <h3>Galerie d'images</h3>
                <ul class="gallery">
                  {% for picture in page.gallery-images %}
                  <li class="gallery__item">
                    <a class="gallery__figure popover"  data-type="image" href="{{ picture }}">
                      <img src="{{ picture }}" alt="image concernant {{ page.title }}" class="gallery__image" />
                      <span data-inject="vector" data-file="icon--extended" class="icon"></span>
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </article>
              <!-- /CONTENT--GALLERY -->
              {% endif %}

              <!-- CONTENT--VIDEO -->
              <article class="content" id="content--video">
                <h3>Les vidéos</h3>
                <div class="content__video">
                  <figure class="content__figure">
                    <a href="https://www.youtube.com/watch?v=-bLqySDykww" target="_blank" data-type="video" class="content__cmd popover" title="voir la vidéo">
                      <img src="../uploads/image-800-640-5.jpeg" alt="" />
                      <span class="ghost">Voir la vidéo</span>
                      <span data-inject="vector" data-file="icon--play" class="icon"></span>
                    </a>
                  </figure>
                  <h3 class="content__video__title"><strong>Titre de la vidéo</strong></h3>
                  <p class="content__time">2 mins</p>
                </div>
                <div class="content__video">
                  <figure class="content__figure">
                    <a href="https://www.youtube.com/watch?v=dcFR6-KsYeM" target="_blank" data-type="video" class="content__cmd popover" title="voir la vidéo">
                      <img src="../uploads/image-800-640-5.jpeg" alt="" />
                      <span class="ghost">Voir la vidéo</span>
                      <span data-inject="vector" data-file="icon--play" class="icon"></span>
                    </a>
                  </figure>
                  <h3 class="content__video__title"><strong>Titre de la vidéo</strong></h3>
                  <p class="content__time">1 min</p>
                </div>
              </article>
              <!-- /CONTENT--VIDEO -->
          </section>
          <!-- /BOARD -->

          <!-- MENU -->
          <nav id="menu" class="board menu">
              <a href="#mainboard" class="button button--close cmd--flip" id="btn--hide">
                <span class="ghost">fermer la fenêtre</span>
                <span data-inject="vector" data-file="icon--close" class="icon"></span>
              </a>
              <ul class="menu__list">
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 1">menu item 1</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 2">menu item 2</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 3">menu item 3</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 4">menu item 4</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 5">menu item 5</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 6">menu item 6</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 7">menu item 7</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 8">menu item 8</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 9">menu item 9</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 10">menu item 10</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 11">menu item 11</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 12">menu item 12</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 13">menu item 13</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 14">menu item 14</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 15">menu item 15</a>
                  </li>
              </ul>
          </nav>
          <!-- /MENU -->

        </div>
        <!-- /MAINBOARD  -->

    </main>
    <!-- /MAIN -->



{% include footer.html %}
