{% include header.html %}

<!-- MAIN -->
<main id="main">

  <!-- MAINBOARD -->
    <div id="mainboard">

      <!-- BOARD -->
        <section id="frontboard" class="board">

          <!-- WRAPPER -->
          <div class="wrapper">

            <!-- LEFTSIDE -->
            <div id="leftside" class="side">
              <a href="#mainboard" class="cmd--flip button button--negative button--menu" id="btn--show">
                <span data-inject="vector" data-file="icon--menu" class="icon"></span>
                <span class="ghost">Menu</span>
              </a>
              {% if page.headline-image %}
              <figure class="headline__image" style="background-image:url('{{page.headline-image}}')"></figure>
              {% endif %}
            </div>
            <!-- /LEFTSIDE -->

            <!-- RIGHTSIDE -->
              <div id="rightside" class="side">
                <!-- INLINE NAV -->
                <nav class="nav">
                  <ul class="nav__list">
                    <li class="nav__item">
                      <a href="#mainboard" data-target="#content--text" class="ghost cmd--reverse button nav__link" id="btn--open">
                        <span data-inject="vector" data-file="icon--text" class="icon"></span>
                        <span class="ghost">Texte</span>
                      </a>
                    </li>
                    <li class="nav__item">
                      <a href="#mainboard" data-target="#content--gallery" class="ghost cmd--reverse button nav__link" id="btn--open">
                        <span data-inject="vector" data-file="icon--gallery" class="icon"></span>
                        <span class="ghost">Galerie</span>
                      </a>
                    </li>
                    <li class="nav__item">
                      <a href="#mainboard" data-target="#content--video" class="ghost cmd--reverse button nav__link" id="btn--open">
                        <span data-inject="vector" data-file="icon--tv" class="icon"></span>
                        <span class="ghost">Videos</span>
                      </a>
                    </li>
                    <li class="nav__item">
                      <a href="#mainboard" data-target="#content--audio" class="ghost cmd--reverse button nav__link" id="btn--open">
                        <span data-inject="vector" data-file="icon--audio" class="icon"></span>
                        <span class="ghost">Audio</span>
                      </a>
                    </li>
                  </ul>
                </nav>
                <!-- /INLINE NAV -->

                <!-- ARTICLE -->
                <article class="headline">
                  <header class="headline__header">
                    <h1 class="headline__title">{{page.title}}</h1>
                    {% if page.dates %}
                    <p class="headline__dates">{ {{page.dates}} }</p>
                    {% endif %}
                  </header>
                  <div class="headline__excerpt">
                    <p>{{ page.content | strip_html | truncatewords: 90 }}</p>
                  </div>
                </article>
                <!-- /ARTICLE -->

              </div>
              <!-- /RIGHTSIDE -->

              {% include baseline.html %}
            </div>
            <!-- /WRAPPER -->
          </section>
          <!-- /BOARD -->

          <!-- BOARD -->
          <section id="backboard" class="board">
            <a href="#mainboard" class="cmd--reverse button button--close" id="btn--close" title="Masquer la fenêtre">
              <span class="ghost">Masquer</span>
              <span data-inject="vector" data-file="icon--close" class="icon"></span>
            </a>

            <span data-inject="vector" data-file="logotype" class="logotype--negative"></span>

            <!-- CONTENT--TEXT -->
            <article class="content" id="content--text">
              <h1>{{page.title}}</h1>
              {{content}}
              </article>
              <!-- /CONTENT--TEXT -->

              {% if page.galerie-images %}
              {% include  galerie.html %}
              {% endif %}

              {% if page.videos %}
              {% include videos.html %}
              {% endif %}

              {% if page.audio %}
              {% include audio.html %}
              {% endif %}

          </section>
          <!-- /BOARD -->

          <!-- MENU -->
          <nav id="menu" class="board menu">
              <a href="#mainboard" class="button button--close cmd--flip" id="btn--hide">
                <span class="ghost">fermer la fenêtre</span>
                <span data-inject="vector" data-file="icon--close" class="icon"></span>
              </a>
              <ul class="menu__list">
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 1">menu item 1</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 2">menu item 2</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 3">menu item 3</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 4">menu item 4</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 5">menu item 5</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 6">menu item 6</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 7">menu item 7</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 8">menu item 8</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 9">menu item 9</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 10">menu item 10</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 11">menu item 11</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 12">menu item 12</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 13">menu item 13</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 14">menu item 14</a>
                  </li>
                  <li class="menu__item">
                      <a href="#" class="menu__link" title="menu item 15">menu item 15</a>
                  </li>
              </ul>
          </nav>
          <!-- /MENU -->

        </div>
        <!-- /MAINBOARD  -->

    </main>
    <!-- /MAIN -->



{% include footer.html %}
