{% include header.html %}
<body>
<header>
    <p><small>Exposition Template</small></p>
    <h1><a href="{{site.url}}" title="{{page.title}}">{{page.title}}</a></h1>
</header>
<main>
<article class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
    {% if page.dates %}<p><small>{ {{ page.dates }} }</small></p>{% endif %}
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  <section class="galerie">
      {% for image in page.images %}
        <img src="{{image}}" alt="" />
      {% endfor %}
  </section>

</article>
</main>

{% include footer.html %}
